.bank-account-contianer{
  max-width: 900px;
  margin: 40px auto 0px;
  display:flex;
  justify-content: space-between; 
}

.bank-account-section{
  max-width: 400px;
  /* margin: 40px 0px 40px 0px ; */
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, 0.226);
}


.section{
  margin: 0px 0px 40px 0px;
}

.blue-button{
  margin: 60px 10px 0px 0px;
}

.edit{
  /* float: right;
  margin: 0px ; */
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgba(0, 169, 152, 1);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgba(0, 169, 152, 1);
  ;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.notification-section{
    max-width: 900px;
    display: block;
    margin: auto;
}

.slider-space{
  margin-left: 50px;
}

.divider{
  border-bottom: 0.1px solid rgba(189, 189, 189, 0.411);
  /* color: rgba(189, 189, 189, 0.877); */
}

.bank-image{
    max-width: 200px;
    margin: 0px 30px 0px 10px;
}


.full-page-view{
height: 60vh;
}

.bank-display{
display: flex;
justify-content: space-between;
}


/* Small Breakpoint */
@media screen and (max-width: 576px){
.bank-display{
  flex-direction: column;
}

.bank-details{
  margin-top: 30px;
}

.slider-space{
  margin-left: 40px;
}

}


/* Small Breakpoint */
@media screen and (max-width: 376px){
.slider-space{
  margin-left: 30px;
}

}