.edit-field{
    width: 268px;
    height: 42px;
    margin: 10px 0px 0px 0px;
    display: block;
    border-radius: 100px;
    padding-left: 30px;
    margin-top: 40px;
}


.add-coincard{
    width: 268px;
    margin: 40px 0px 0px 90px;
}


.add-coin-title{
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    
    letter-spacing: 0.4px;
    
    /* swift black */
    
    color: #333333;
}

.gift-card-section{
    display: flex;
}

.gift-cards{
    display: flex;
    
}

.gift-cards-item{
    max-width: 200px;
    min-width: 29px;
    margin: 46px 0px 10px 15px;
}




/* For Portrait Phones */
@media screen and (max-width: 576px){    
    .gift-cards-item{
        /* max-width: 120px;
        width: 100%; */
    }
}

/* For Tablets */
@media screen and (max-width: 768px){
    
}

/* For Laptops */
@media screen and (max-width: 956px){
    .gift-card-section{
        flex-direction: column;
        margin: auto;   
        max-width: 500px;
    }

    .add-coincard{
        margin: 40px 0px 0px 0px;
    }

}
