.edit-field{
    width: 268px;
    height: 42px;
    margin: 10px 0px 0px 0px;
    display: block;
    border-radius: 100px;
    padding-left: 30px;
    margin-top: 40px;
}


.add-coincard{
    width: 268px;
    margin: 40px 0px 0px 90px;
}