.input-field{
    max-width: 350px;
    min-width: 100px;
    max-height: 58px;
    min-height: 30px;
    
    margin: 10px 0px 0px 0px;
    display: block;
    border-radius: 100px;
    padding-left: 30px;
    margin-top: 40px;
}


.add-coincard{
    max-width: 350px;
    width: 100%;
    margin: 10px 20px 0px 60px;
}


.add-coin-title{
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    
    letter-spacing: 0.4px;
    
    /* swift black */
    
    color: #333333;
}

.gift-card-section{
    /* display: flex; */
}

.gift-cards{
    display: flex;
    
}

.gift-cards-item{
    max-width: 200px;
    min-width: 29px;
    margin: 46px 0px 10px 15px;
}




/* For Portrait Phones */
@media screen and (max-width: 576px){    
    .gift-cards-item{
        /* max-width: 120px;
        width: 100%; */
        margin: 46px 10px 10px 10px;
    }
    .input-field{
        width: 250px;
        margin: 10px 10px 0px 10px;
    }
}

/* For Tablets */
@media screen and (max-width: 768px){
    
}

/* For Laptops */
@media screen and (max-width: 956px){
    .gift-card-section{
        flex-direction: column;
        margin: auto;   
        max-width: 400px;
    }

    .add-coincard{
        margin: 40px auto 0px auto;
    }

}
