.btn-secondary{
    color: black !important;
    background-color: transparent !important;
    border: 0px solid #BDBDBD;
    border-radius: 0px;
}

.dropdown-toggle::after{
    display: none;
}

.btn-check:active+.btn-secondary, .btn-check:checked+.btn-secondary, .btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #565e64;
    border-color: transparent;
}

.btn-check:active+.btn-secondary:focus, .btn-check:checked+.btn-secondary:focus, .btn-secondary.active:focus, .btn-secondary:active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgb(130 138 145 / 0%);
}

.btn-check:focus+.btn-secondary, .btn-secondary:focus {
    color: #fff;
    background-color: #5c636a;
    border-color: #565e64;
    box-shadow: 0 0 0 0.25rem rgb(130 138 145 / 0%);
}