:root{
    font-size: 1em;
}

.header-bar{
    border: solid;
    border-width: 0px 2px 2px 0px;
    border-color: rgba(240, 240, 240, 1);
    height: 70px;
    display: flex;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 2;
    /* justify-content: space-between; */
}



.header-tool{
    display: flex;   
    justify-content: space-evenly;
    width: 100%;
    padding: 0px 40px 0px 100px;
    background-color: white;
    /* border: 1px solid black; */
}


.profile-section{
    display: flex;
}

.logo{
    height: 40px;
    margin: 15px 0px 0px 30px;
}


.side-menu{
    position: fixed;
    width: 240px;
    height: 500px;
    overflow-y: auto;
    background-color: white;
    border: solid;
    margin: 70px 0px 0px 0px;
    border-width: 1px 2px 0px 0px;
    border-color: rgba(240, 240, 240, 1);
    z-index: 2;
}

.menu-items-content{
    margin: 40px 10px 5px 0px;
}

.menu-items-content{
    /* overflow-y: scroll;  */
    height: 100%;
}

.menu-items-content#scrollable {
    /* overflow-y: scroll; */
}

.menu-item{
    font-weight: 500;
    text-decoration: none;
    color: rgb(62, 61, 87);
    display: flex;
    margin: 20px 10px 10px 20px;
    padding: 10px 10px 10px 20px;
}

.selected{
    background-color: rgba(236, 238, 242, 0.85);
    /* width: 100%; */
}

.menu-title{
    margin: 10px 5px 10px 30px;
}

.main-menu{
    background: #E5E5E5;
}

.menu-toggle{
    display: none;
    width: 25px;
    height: 25px;
    margin: 20px 10px 20px 20px;
}

.search-bar{
    max-width: 500px;
    width: 100%;
    height: 40px;
    margin: 10px 10px 10px 10px;
    background: white;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.068);
    border-radius: 5px;
  }
  
.search-content{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 0px 10px;
    /* border: 1px solid; */
}
  
.search-logo-and-highlight{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
}
  
.search-logo{
    width: 20px;
    height: 18px;
    margin: 2px 5px 0px 5px;  
}
  
  
.search-highlight{
    width: 300px;
    /* width: 100%; */
    height: 22px;
    margin: 0px 0px 0px 5px;
    background: white;
    border: 0px solid;
    font-size: 16px;
    border-color: rgba(0, 0, 0, 0.068);
    color: #837975d8;
}
  
.profile-image{
    height: 40px;
    border-radius: 36px;
}

.profile-section{
    margin: 10px 30px 0px 30px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
}

.username{
    display: inline;
    margin: 10px 10px 5px 10px;
}

.notifications-icon{
    margin: 10px 30px 0px 90px;
    height: 40px;
}

.content{
    display: flex;
}

.main-section{
    background-color: #F8F8F8;
    width: 100%;
    margin: 70px 0px 0px 240px;
    padding-bottom: 100px;
}

.dashboard-contents{
    margin: auto;
    max-width: 1200px;
}



input:focus, textarea:focus, select:focus, button:focus{
    outline: #BDBDBD;
    border: 1px solid #BDBDBD;
    box-shadow: 0 0 0px #BDBDBD;
    
  }
  
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
/* opacity: 0.4; Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #719ECE;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color:#719ECE;
}

.error-message{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    /* Swift gray */
    color: red;
}

.success-message{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    /* Swift gray */
    color: green;
}

.clearfix{
    clear: both;
}


.text-options {
    margin: 10px 30px 0px 0px;
    color: red;
    float: right;
    font-size: 14px;
}


/* For Portrait Phones */
@media screen and (max-width: 576px){
    :root{
        font-size: 0.75em;
    }
    
    .single-transaction-card{
        /* display: none; */
        /* width: 110px;
        height: 60px; */
        border-radius: 6px;
        padding: 1px 1px 5px 1px;
    }
    
    .circle-progress{
        /* width: 29px;
        height: 29px; */
        /* margin: 10px 0px 0px 5px; */
    }
    .transaction-text{
        font-size: 9px;
        line-height: inherit;
        margin: 10px 5px 5px 5px;
    }

    .transaction-options{
        width: 8px;
        margin: 5px 5px 0px 0px;
    }

}

/* For Tablets */
@media screen and (max-width: 768px){
    
    .transaction-text{
        font-size: 0.875em;    
    }

    p{
        font-size: 0.75em;
    }
    .conversion-board{
        display: none;
    }   
    
}
/* For Laptops */
@media screen and (max-width: 900px){
    :root{
        font-size:0.875em;
    }
    
    p{
        font-size: 0.875em;
    }
}

/* For Large Devices */
@media screen and (max-width: 1200px){
    :root{
        font-size: 1em;
    }
    
    p{
        font-size: 1em;
    }

    .side-menu{
        display: none;
    }
    
    .main-section{
        margin: 70px 0px 0px 0px;
    }
    .menu-toggle{
        display: block;
    }
    
}


.is-open{
    display: block;
}
